body #nav-bar {
  position: fixed;
  width: 100%;
  /*height: 80px;*/
  background-color: #00a087;
  color: #e8fdff;
  top: 0;
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  padding-left: 2em;
  padding-right: 2em;
  /*z-index: 50;*/ }
  body #nav-bar .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: left; }
  body #nav-bar .header {
    float: left;
    text-align: center;
    font-size: 200%;
    line-height: 2.5; }
  body #nav-bar .compose {
    float: right;
    height: 50px;
    margin-top: 14px;
    border-radius: 8px;
    background: #F5F5F5;
    border: solid black 2px;
    cursor: pointer; }
  body #nav-bar button {
    float: right;
    width: 140px;
    height: 60px;
    font-size: 1.5em;
    color: green;
    border: solid black 1.7px;
    border-radius: 4px;
    background-color: white;
    margin-top: 10px; }
  body #nav-bar button:hover {
    color: solid green;
    background-color: white;
    cursor: pointer; }
