.tweet {
  flex-direction: column;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.tweet img {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-radius: 5px;
  background-color: #00a087;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 10px;
}

.tweet header {
  display: flex;
  background-color: lightgray;
  border-top: darkgray;
  justify-content: space-between;
  height: 70px;
}

/*.tweet header h1 {*/
#tweet header .user-name {
  font-size: 1.5em;
  color: gray;
  margin: auto;
  width: 200px;
}

#tweet header .user-id
/*.tweet header h2*/ {
  font-size: 1em;
  font-weight: 100;
  color: black;
  margin-right: 10px;
}

.tweet .tweetBody {
  height: 100px;
}

.tweet .tweetBody p {
  font-size: 1em;
  margin-left: 5px;
}

.container .counter {
  float: right;
}

.tweet footer {
  border-top: solid 1px gray;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.tweet footer p {
  font-size: 0.9em;
  margin-left: 15px;
}

/* COUNTER */
/*.tweet footer span*/
.tweet footer div {
  margin-top: 15px;
  margin-right: 5px;
  color: #00a087;
  display: none;
}

.tweet footer span i {
  margin-left: 4px;
}

.tweet:hover {
  border: solid gray 2px;
}

.tweet:hover footer span {
  color: solid gray;
  display: initial;
}